#add{
	width:50px;
}
#minus{
	width:50px;
}
#cross{
	width:50px;
}
#divide{
	width:50px;
}
#equal{
	width:50px;
}
#btnclear{
	width:50px;
}
#btn0{
	width:50px;
}
#btn1{
	width:50px;
}
#btn2{
	width:50px;
}
#btn3{
	width:50px;
}
#btn4{
	width:50px;
}
#btn5{
	width:50px;
}
#btn6{
	width:50px;
}
#btn7{
	width:50px;
}
#btn8{
	width:50px;
}
#btn9{
	width:50px;
}
